extends layout

block content
  h1= title
  p Welcome to #{title}

  div(ng-controller='userInterface')
    div(ng-repeat="sensor in sensors")
      div(x-sensor-data-box='', ng-repeat="type in sensor.sensors", type="{{type}}", sensor-id="{{sensor.id}}")
    div(x-confort-zone="")