extends layout

block content
  h1.title= title

  div(ng-controller='userInterface')
    div.sensor-list
      div.sensor(ng-repeat="sensor in sensors")
        div.title {{sensor.name | uppercase}}
        div.sensor-type(x-sensor-data-box='', ng-repeat="type in sensor.sensors", type="{{type}}", sensor-id="{{sensor.id}}")
    div.comfort-zone(x-comfort-zone="")