doctype html
html(ng-app='myApp')
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content

    script(type='text/javascript', src='lib/angular.min.js')
    script(type='text/javascript', src='lib/angular-resource.js')
    script(type='text/javascript', src='lib/app.js')